<header>
  <div class="logo">Outline</div>
  <nav>
    <div class="nav_item">
      <summary class="Header-link">
        <img width="40" height="40" src="https://avatars2.githubusercontent.com/u/58485325?s=60&v=4" class="avatar">
        <span class="dropdown-caret"></span>
      </summary>
    </div>
  </nav>
</header>