<header>
  <div class="logo">Outline</div>
  <nav>
    <div class="nav_item">
      <details>
        <summary class="Header-link">
          <img width="40" height="40" src="https://avatars2.githubusercontent.com/u/58485325?s=60&v=4" class="avatar">
          <span class="dropdown-caret"></span>
        </summary>
        <div class="dropdown-menu-avatar-header">
          <div class="header-nav-current-user">
            <h1 class="avatar-header">Login as SimplyProgger</h1>
          </div>
          <a class="dropdown-item" href="#">Profile</a>
        </div>
      </details>
    </div>
  </nav>
</header>